body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

input {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

button {
  background: rgb(94, 108, 235);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}